<ng4-loading-spinner [timeout]="15000" [loadingText]="'Criando campeonato.. por favor aguarde'"> </ng4-loading-spinner>
<div class="container">
  <h2>Primeira Fase</h2>
  <a [routerLink]="" (click)="skipToSecondPhase()">Clique aqui para simular a Segunda Fase</a>
  <div class="row">
    <div *ngFor="let summary of groupsSummary" class="col-md-4">
      <h3>{{summary.groupName}}</h3>
      <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Equipe</th>
              <th scope="col">Vitórias</th>
              <th scope="col">Saldo de Rounds</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let teamStat of summary.teamsStats; let rank = index">
              <th scope="row">{{rank + 1}}</th>
              <td>{{teamStat.teamName}}</td>
              <td>{{teamStat.wins}}</td>
              <td>{{teamStat.balance_rounds}}</td>
            </tr>
          </tbody>
      </table>
      <h3>Resultados:</h3>
      <p *ngFor="let result of summary.results">{{findTeam(result.winTeam).name}} {{result.score1}} x {{result.score2}} {{result.winTeam === result.team1 ? findTeam(result.team2).name : findTeam(result.team1).name}}</p>
    </div>
  </div>
</div>