<!-- <h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes" class="col-1-4"
      routerLink="/detail/{{hero.id}}">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
    </div>
  </a>
</div>

<app-hero-search></app-hero-search>
 -->
 <div class="container">
    <div class="row">
      <div class="col-md-4">
          <h3>Novo Campeonato</h3>
          <div class="input-group mb-3">
             <input #champName id="champ-box" class="form-control" placeholder="Nome do Campeonato" aria-label="Nome do Campeonato" aria-describedby="button-addon2">
             <div class="input-group-append">
               <button class="btn btn-outline-secondary" (click)="createChamp(champName.value); champName.value=''" type="button" id="button-addon2">Simular</button>
             </div>
           </div>
      </div>
    </div>
  </div>