<ng4-loading-spinner [timeout]="15000" [loadingText]="'Criando Playoffs.. por favor aguarde'"> </ng4-loading-spinner>
<div class="container">
  <h1>Playoffs</h1>
  <div class="row">
    <div class="col-md-3">
      <h3>Round of 16</h3>
      <div class="container">
        <div *ngFor="let roundSummary of roundOf16GroupsSummary" class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <tbody>
                <tr *ngFor="let teamStat of roundSummary.teamsStats">
                  <td>{{teamStat.teamName}}</td>
                  <td>{{roundSummary.results[0].winTeam === teamStat.teamId ? '16' : roundSummary.results[0].score2}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-3">
      <h3>Oitavas de Final</h3>
      <div class="container">
          <div *ngFor="let roundSummary of roundOf8GroupsSummary" class="row">
              <div class="col-md-12">
                <table class="table table-bordered">
                  <tbody>
                    <tr *ngFor="let teamStat of roundSummary.teamsStats">
                      <td>{{teamStat.teamName}}</td>
                      <td>{{roundSummary.results[0].winTeam === teamStat.teamId ? '16' : roundSummary.results[0].score2}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
      </div>
  </div>
  <div class="col-md-3">
      <h3>Quartas de Final</h3>
      <div class="container">
          <div *ngFor="let roundSummary of quarterFinalsGroupsSummary" class="row">
              <div class="col-md-12">
                <table class="table table-bordered">
                  <tbody>
                    <tr *ngFor="let teamStat of roundSummary.teamsStats">
                      <td>{{teamStat.teamName}}</td>
                      <td>{{roundSummary.results[0].winTeam === teamStat.teamId ? '16' : roundSummary.results[0].score2}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
      </div>
  </div>
  <div class="col-md-3">
      <h3>Semifinais</h3>
      <div class="container">
          <div *ngFor="let roundSummary of semiFinalsGroupsSummary" class="row">
              <div class="col-md-12">
                <table class="table table-bordered">
                  <tbody>
                    <tr *ngFor="let teamStat of roundSummary.teamsStats">
                      <td>{{teamStat.teamName}}</td>
                      <td>{{roundSummary.results[0].winTeam === teamStat.teamId ? '16' : roundSummary.results[0].score2}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div *ngFor="let roundSummary of finalGroupsSummary" class="row">
              <h3>Final</h3>
                <div class="col-md-12">
                  <table class="table table-bordered">
                    <tbody>
                      <tr *ngFor="let teamStat of roundSummary.teamsStats">
                        <td>{{teamStat.teamName}}</td>
                        <td>{{roundSummary.results[0].winTeam === teamStat.teamId ? '16' : roundSummary.results[0].score2}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
      </div>
  </div>
  </div>
</div>
